<section class="collection__materials">
  <slot name="header-info"></slot>
  <draggable
    v-model="myList"
    draggable=".materials__item"
    class="materials__items deleting"
    :class="{
      loading: current_loading,
      list: itemsInLine === 1,
      tile: itemsInLine > 1
    }"
  >
    <div
      v-for="material in myList"
      :class="[
        `tile--items-in-line-${itemsInLine}`,
        `materials__item--items-in-line-${itemsInLine}`,
        'select-delete'
      ]"
      :key="material.external_id"
      class="materials__item tile"
    >
      <div class="materials__bookmark" v-if="material.has_bookmark">Bookmark</div>
      <button
        class="select-icon"
        v-if="contentEditable"
        @click="deleteFromCollection(material)"
      >
        Delete
      </button>
      <div
        :class="{'selected': material.selected}"
        class="materials__item_wrapper tile__wrapper"
        @click="handleMaterialClick(material)"
      >
        <div class="materials__item_content">
          <div class="materials__item_main_info">
            <h3 class="materials__item_title">
              {{material.title}}
            </h3>
            <div
              v-if="material.authors.length > 0"
              class="materials__item_author"
            >
              {{material.authors.join(', ')}}
            </div>
            <div
              v-if="material.publishers.length > 0"
              class="materials__item_publisher"
            >
              {{material.publishers.join(', ')}}
            </div>
            <div class="materials__item_date">
              {{material.date || null}}
            </div>
            <div
              v-if="itemsInLine === 1 && material.description"
              class="materials__item_description"
              v-html="material.description"
            ></div>
          </div>
          <div class="materials__item_subinfo">
            <div
              v-if="material.disciplines && material.disciplines.length"
              class="materials__item_disciplines"
            >
              <span
                v-for="(discipline, index) in material.disciplines"
                v-if="index < 2"
                class="materials__item_discipline"
              >
                {{titleTranslation(discipline, $i18n.locale)}}<span v-if="material.disciplines.length > 1 && index < material.disciplines.length - 1">,</span>
              </span>
              {{ material.disciplines.length < 3 ? '' : '...' }}
            </div>
            <div
              v-if="material.educationallevels && material.educationallevels.length"
              class="materials__item_educationallevels"
            >
              <span
                v-for="(educationallevel, index) in material.educationallevels"
                v-if="index < 2"
                class="materials__item_educationallevel"
              >
                {{ educationallevel[$i18n.locale] }}
                <span v-if="material.educationallevels.length > 1 && index < material.educationallevels.length - 1">,</span>
              </span>
              {{ material.educationallevels.length < 3 ? '' : '...' }}
            </div>
            <div
              v-if="material.format"
              class="materials__item_format"
            >
              {{ $t(material.format) }}
            </div>
            <div
              class="materials__item_keywords"
              v-if="material.keywords && material.keywords.length && itemsInLine === 1"
            >
              <span
                class="materials__item_keyword"
                v-for="(keyword, index) in material.keywords"
                v-if="index < 2"
              >{{keyword}}<span v-if="material.keywords.length > 1 && index < material.keywords.length - 1">, </span></span>
              {{ material.keywords.length < 3 ? '' : '...' }}
            </div>
            <router-link
              :to="localePath({name: 'communities-community', params: {community: community.id}})"
              @click.native="$event.stopImmediatePropagation()"
              class="materials__item_community_link"
              v-for="community in material.communities"
              :key="`${community.id}`"
            >
              {{titleTranslation(community, $i18n.locale) }}
            </router-link>
            <div class="materials__item_copyrights" :class="material.copyright"></div>
          </div>
        </div>
        <footer class="materials__item_footer">
          <StarRating
          v-model="material.avg_star_rating"
          :counter="material.count_star_rating"
          :disabled="true"
          :dark-stars="true"
          />
          <div class="materials__item_actions">
            <div class="materials__item_applauds"><span>{{material.applaud_count}}</span></div>
            <a
              v-if="material.url"
              class="materials__item_external_link"
              target="_blank"
              :href="material.url"
              ></a>
          </div>
        </footer>
      </div>
    </div>

  </draggable>
  <div class="not_found" v-if="myList.length === 0">{{ $t('Not-found') }}</div>
</section>
