<section class="collection__materials">
  <slot name="header-info"></slot>
  <draggable
    v-model="myList"
    draggable=".materials__item"
    class="materials__items deleting"
    :class="{
      loading: current_loading,
      list: itemsInLine === 1,
      tile: itemsInLine > 1
    }"
  >
    <div
      v-for="(material, index) in myList"
      :class="[
        `tile--items-in-line-${itemsInLine}`,
        `materials__item--items-in-line-${itemsInLine}`,
        'select-delete'
      ]"
      :key="material.external_id"
      class="materials__item tile"
    >
      <div class="materials__bookmark" v-if="material.has_bookmark">Bookmark</div>
      <button
        class="select-icon"
        v-if="contentEditable"
        @click="deleteFromCollection(material)"
      />
      <Material
        :material="material"
        :handle-material-click="handleMaterialClick"
        :items-in-line="itemsInLine"
        :index="index"
      />
    </div>
  </draggable>
  <div class="not_found" v-if="myList.length === 0">{{ $t('Not-found') }}</div>
</section>
