
<section class="menu">
  <nav>
    <ul class="menu__list">
      <li class="menu__list_item">
        <a
          href="/themes/"
          @click.prevent="toggleSubMenu"
          class="menu__link arrow-link-grey"
          :class="{'nuxt-link-active': isShowSubMenu}"
        >
          Thema’s
        </a>
        <transition name="fade">
          <div class="menu__sub" v-if="isShowSubMenu">
            <h3 class="title">Thema’s</h3>
            <ul v-if="themes" class="menu__sub_list">
              <li v-for="theme in themes.results" class="menu__sub_list_item">
                <nuxt-link
                  class="menu__sub_link arrow-link"
                  :to="`/themes/${theme.id}/`"
                  @click.native="closeSubMenu(true)"
                >
                  {{theme.title}}
                </nuxt-link>
              </li>
            </ul>
          </div>
        </transition>
      </li>
      <li class="menu__list_item">
        <nuxt-link
          :to="localePath('communities')"
          class="menu__link"
          @click.native="closeSubMenu(true)"
        >
          Community's
        </nuxt-link>
      </li>
      <li class="menu__list_item">
        <nuxt-link
          to="/how-does-it-work/"
          class="menu__link"
          @click.native="closeSubMenu(true)"
        >
          Hoe werk het?
        </nuxt-link>
      </li>
    </ul>
  </nav>
</section>

