<div class="form__file">
  <div class="form__file_column">
    <label
      class="form__file_label">
      {{ title }}
    </label>
    <img
      :src="imagePath"
      class="form__file_img"
    >
  </div>

  <div class="form__file_column">

    <div class="form__file_buttons">
      <a
        href="#"
        @click.prevent="removeImage"
        class="form__file_button _delete"
        :class="{'_disabled': !imagePath}"
      />
      <a
        class="form__file_button _upload"
      >
            <input
      type="file"
      :ref="refinput"
      :accept="accept"
      @change="onFileChange"
      class="form__file_input"
      name="file"
    >
        {{$t('select-file')}}
      </a>
    </div>
  </div>
</div>
