FORMAT: 1A
HOST: https://surf.mqd.me

# Surf

Surf API

## Errors

4xx errors are client errors, so the only way to handle them is to validate input data and repeat request.
5xx errors are server errors and should be handled with repeated requests.


# Group Search

## Search Result Resource [/api/v1/materials/search/]

### POST [POST /api/v1/materials/search/]

+ Request (application/json)

    + Headers

            Authorization: Token 77d4f58da328105d92d0a255780fcf3a6b51403c

    + Body

            {
                "search_text": ["some searched text"],
                "page": 1,
                "page_size": 5,
                "filters": [
                    {
                        "external_id": "lom.technical.format",
                        "items": [
                            "audio",
                            "video"
                        ]
                    },
                    {
                        "external_id": "lom.general.aggregationlevel",
                        "items": [
                            "1",
                            "3"
                        ]
                    }
                ],
                "ordering": "-lom.lifecycle.contribute.publisherdate",
                "author": "Material author",
                "return_records": true,
                "return_filters": true
            }


+ Response 200 (application/json)
    + Attributes (Search Result)

# Group Keywords

## Keywords Resource [/api/v1/materials/keywords/]

### GET [GET /api/v1/materials/keywords/{?query}]

+ Parameters
  + query (string) - query string

+ Request (application/json)

    + Headers

            Authorization: Token 77d4f58da328105d92d0a255780fcf3a6b51403c

+ Response 200 (application/json)
    + Attributes (array[string])

# Group Materials

## Material Collection [/api/v1/materials/]

### GET [GET /api/v1/materials/{?external_id, collection_id}]

+ Parameters
  + external_id (string, optional) - filter materials by external id
  + collection_id (string, optional) - filter by `collection id` (will be ignored if external_id is specified)
  + page (number, optional) - page number (by default `1`, will be ignored if external_id is specified)
  + page_size (number, optional) - page size (by default `5`, will be ignored if external_id is specified)

+ Request (application/json)

    + Headers

            Authorization: Token 77d4f58da328105d92d0a255780fcf3a6b51403c

+ Response 200 (application/json)
    + Attributes (array[Material])

# Group Filter Categories

## Filter Categories Collection [/api/v1/filter-categories/]

### GET [GET /api/v1/filter-categories/]

+ Request (application/json)

    + Headers

            Authorization: Token 77d4f58da328105d92d0a255780fcf3a6b51403c

+ Response 200 (application/json)
    + Attributes (array[Filter Category])

# Group Filters

## Filter Collection [/api/v1/filters/]

### GET [GET /api/v1/filters/]

+ Request (application/json)

    + Headers

            Authorization: Token 77d4f58da328105d92d0a255780fcf3a6b51403c

+ Response 200 (application/json)
    + Attributes (array[Filter])

### POST [POST /api/v1/filters/]

+ Request (application/json)

    + Headers

            Authorization: Token 77d4f58da328105d92d0a255780fcf3a6b51403c

    + Attributes (Filter Create)

+ Response 201 (application/json)
    + Attributes (Filter)

## Filter Resource  [/api/v1/filters/{id}/]

### GET [GET /api/v1/filters/{id}/]

+ Parameters
  + id: `c808167b-4ece-4862-8eed-b9346827eec1` (string) - The unique ID of the filter.

+ Request (application/json)

    + Headers

            Authorization: Token 77d4f58da328105d92d0a255780fcf3a6b51403c

+ Response 200 (application/json)
    + Attributes (Filter)

### PUT [PUT /api/v1/filters/{id}/]

+ Request (application/json)

    + Headers

            Authorization: Token 77d4f58da328105d92d0a255780fcf3a6b51403c

    + Attributes (Filter Create)

+ Response 201 (application/json)
    + Attributes (Filter)

### DELETE [DELETE /api/v1/filters/{id}/]

+ Request (application/json)

    + Headers

            Authorization: Token 77d4f58da328105d92d0a255780fcf3a6b51403c

+ Response 204

# Data Structures

## Material (object)
 - external_id: `edurep_delen:887f1f83-b821-449e-9b08-c5571bcfbda2` (string) - material id in edurep
 - object_id: `urn:uuid:887f1f83-b821-449e-9b08-c5571bcfbda2` (string) - material URI
 - url: `http://delen.edurep.nl/download.php?id=887f1f83-b821-449e-9b08-c5571bcfbda2` (string) - material URL
 - title: `test1` (string) - title of material
 - description: `test` (string) - material description
 - keywords: (array[string]) - keywords for material
 - language: `nl` (string) - material language
 - aggregationlevel: `1` (string) - aggregation level of material
 - publisher: `wikiwijs_repository` (string) - publisher name
 - publish_datetime: `2018-09-19T01:08:08+02:00` (string) - publish datetime
 - author: `awar rashkany` (string) - author name
 - creator: `Mendy` (string) - creator name
 - format: `image` (string) - material technical format
 - number_of_ratings: `1` (number) - number of ratings for material
 - average_rating: `1.0` (number) - average ratings of material (from 0 to 5)

## Filter Extra Data item (object)
 - external_id: `5e86dc82-1981-48df-bbe5-abd4a9b3767b` (string) - filter item id
 - count: `17143` (number) - found material count for filter item

## Filter Extra Data (object)
 - external_id: `lom.classification.obk.discipline.id` (string) - filter category id
 - items: (array[Filter Extra Data item]) - extra data for each filter item

## Search Result (object)
 - records: (array[Material]) - found materials
 - filters: (array[Filter Extra Data]) - found materials count for each filter item
 - page: `1` (number) - page number
 - page_size: `5` (number) - page size
 - records_total: `10000` (number) - total count of found materials

## Filter Category item (object)
 - id: `15301dad-467f-4138-a575-8c11acfd7998` (string) - filter category item id
 - external_id: `c001f86a-4f8f-4420-bd78-381c615ecedc` (string) - filter category item external id in EduRep
 - title: `Aardrijkskunde` (string) - filter category item title

## Filter Category (object)
 - id: `fedbba4d-f6b6-4b00-bd84-44ea913e44eb` (string) - filter category id
 - external_id: `lom.classification.obk.discipline.id` (string) - filter category external id in EduRep
 - title: `Vakgebied` (string) - filter category title
 - items: (array[Filter Category item]) - filter category items

## Filter item (object)
 - id: `b5fda3b2-3a95-4886-81a9-bed5a4cfb5af` (string) - filter item id
 - category_item_id: `684de1cd-d875-4f08-b3b8-f99a1067485b` (string) - filter category item id
 - category_id: `7530b31b-f6af-41c9-aceb-3ee64a950516` (string) - filter category item id

## Filter (object)
 - id: `137e1106-1702-48bd-8ab2-914e3d434511` (string) - filter id
 - title: `test filter` (string) - filter title
 - items: (array[Filter item]) - filter items

## Filter Create item (object)
 - category_item_id: `684de1cd-d875-4f08-b3b8-f99a1067485b` (string) - filter category item id

## Filter Create (object)
 - title: `test filter` (string) - filter title
 - items: (array[Filter Create item], optional) - filter items
