version: '3.1'


services:

  service:
    build:
      dockerfile: "service/Dockerfile"
      context: .
    command: uwsgi --ini uwsgi.ini --py-autoreload=3 --honour-stdin
    stdin_open: true
    tty: true
    environment:
      - PYTHONIOENCODING=UTF-8
      - PYTHONUNBUFFERED=1
      - DJANGO_SETTINGS_MODULE=surf.settings.service
      - APPLICATION_MODE=${APPLICATION_MODE}
      - POL_DJANGO_DEBUG=${POL_DJANGO_DEBUG}
      - POL_POSTGRES_USER=${POL_POSTGRES_USER}
    ports:
      - "127.0.0.1:8000:8080"
    volumes:
      - ./service:/usr/src/app
      - ./media:/usr/src/media
      - ./environments/${APPLICATION_PROJECT}/localhost/invoke.yml:/usr/src/environments/localhost/invoke.yml
    links:
      - postgres:database
    depends_on:
      - postgres

  harvester:
    build:
      dockerfile: "harvester/Dockerfile"
      context: .
    command: uwsgi --ini uwsgi.ini --py-autoreload=3 --honour-stdin
    stdin_open: true
    tty: true
    environment:
      - PYTHONIOENCODING=UTF-8
      - COLUMNS=80
      - PYTHONUNBUFFERED=1
      - DJANGO_SETTINGS_MODULE=harvester.settings
      - APPLICATION_MODE=${APPLICATION_MODE}
      - POL_DJANGO_DEBUG=${POL_DJANGO_DEBUG}
      - POL_POSTGRES_USER=${POL_POSTGRES_USER}
    ports:
      - "127.0.0.1:8888:8080"
    volumes:
      - ./harvester:/usr/src/app
      - ./media:/usr/src/media
      - ./environments/${APPLICATION_PROJECT}/localhost/invoke.yml:/usr/src/environments/localhost/invoke.yml
    links:
      - postgres:database
    depends_on:
      - postgres

  celery_worker:
    build:
      dockerfile: "harvester/Dockerfile"
      context: .
    stdin_open: true
    tty: true
    environment:
      - PYTHONIOENCODING=UTF-8
      - COLUMNS=80
      - PYTHONUNBUFFERED=1
      - APPLICATION_MODE=${APPLICATION_MODE}
      - POL_DJANGO_DEBUG=${POL_DJANGO_DEBUG}
      - POL_SECRETS_SHAREKIT_API_KEY=${POL_SECRETS_SHAREKIT_API_KEY}
    volumes:
      - ./harvester:/usr/src/app
      - ./media:/usr/src/media
      - ./environments/${APPLICATION_PROJECT}/localhost/invoke.yml:/usr/src/environments/localhost/invoke.yml
    command: celery -A harvester worker -l info --beat -s /tmp/celerybeat-schedule
    links:
      - redis:redis
    depends_on:
      - redis
      - postgres

  flower:
    build:
      dockerfile: "harvester/Dockerfile"
      context: .
    stdin_open: true
    tty: true
    environment:
      - PYTHONIOENCODING=UTF-8
      - PYTHONUNBUFFERED=1
      - APPLICATION_MODE=${APPLICATION_MODE}
      - POL_DJANGO_DEBUG=${POL_DJANGO_DEBUG}
    volumes:
      - ./harvester:/usr/src/app
      - ./media:/usr/src/media
      - ./environments/${APPLICATION_PROJECT}/localhost/invoke.yml:/usr/src/environments/localhost/invoke.yml
    command: celery -A harvester flower
    ports:
      - "127.0.0.1:5555:5555"
    links:
      - redis:redis
    depends_on:
      - redis
