# Development
gitpython==3.1.7
flake8==3.8.3

# Common
django==2.2.13
djangorestframework==3.11.0
django-cors-headers==3.4.0
whitenoise==5.1.0
psycopg2-binary==2.8.5
requests==2.24.0
Pillow==7.1.0
elasticsearch==7.8.1
python-dateutil==2.8.1

# AWS
awscli==1.18.110
boto3==1.14.32
requests-aws4auth==1.0

# Tools
ipython==7.17.0
tqdm==4.48.1
invoke==1.4.1
fabric==2.5.0
ipdb==0.13.3
sentry-sdk==0.16.2
selenium==3.141.0
factory_boy==2.12.0

-r service/dependencies.txt
-r harvester/dependencies.txt
