
<section class="dates-range">
  <div class="dates-range__opener"  :class="{'dates-range__opener--opened': opened}">
    <div
      class="select select--no-border"
      v-click-outside="hide"
      @click="toggle"
    >
      <div
        class="select__item"
      >Sorteren op</div>
    </div>
  </div>
  <div class="dates-range__popup" v-show="opened">
    <div class="dates-range__form-group">
      <label class="vdp-datepicker__label">Vanaf</label>
      <Datepicker
        :format="format"
        v-model="formData.start_date"
        :disabledDates="{from: formData.end_date}"
        :monday-first="true"
        placeholder="Selecteer datum"
      ></Datepicker>
    </div>
    <div class="dates-range__form-group">
      <label class="vdp-datepicker__label">Tot</label>
      <Datepicker
        :format="format"
        v-model="formData.end_date"
        :disabledDates="{to: formData.start_date}"
        :monday-first="true"
        placeholder="Selecteer datum"
      ></Datepicker>
    </div>
  </div>
</section>

