@import './../../../variables';
.add-collection {
  form {
    display: flex;
    flex-direction: column;
  }

  .form__item {
    position: relative;
    margin: 0 0 20px;

    input {
      padding-left: 60px;
      border-radius: 7px;
      border: 2px solid #ccc;
      color: #686d75;
    }
  }

  .form__button {
    margin-top: 30px;
  }

  .language-icon {
    background-color: #ccc;
    color: white;
    border-radius: 50%;
    padding: 7px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    position: absolute;
    top: 25%;
    left: 15px;
  }
}
