<transition name="fade">
  <Popup
    v-if="showPopup"
    :close="close"
    :is-show="showPopup"
    class="add-collection"
  >
    <slot>
      <template v-if="saved">
        <h2 class="popup__title">{{ $t('Collection-created') }}</h2>
        <div class="popup__subtext">{{ $t('The-collection-has-been-created') }}</div>
        <div>
          <button
            class="button"
            @click.prevent="close"
          >
            {{ $t('See') }}
          </button>
        </div>
      </template>
      <template v-else>
        <h2 class="popup__title">{{ $t('Create-private-collection') }}</h2>
        <div class="popup__subtext">{{ $t('Create-private-collection-text') }}</div>
        <form
          action=""
          @submit.prevent="onSaveCollection"
        >
          <InputWithCounter
            id="title_nl"
            v-model="formData.title_nl"
            type="text"
            :placeholder="$t('Name-for-collection')"
            required
            language='NL'
            name="title_nl"
            maxlength="80"
            class="title-input"
          />
          <InputWithCounter
            id="title_en"
            v-model="formData.title_en"
            type="text"
            :placeholder="$t('Name-for-collection')"
            required
            language='EN'
            name="title_en"
            maxlength="80"
            class="title-input"
          />
          <div class="form__button">
            <button
              class="button"
              type="submit"
              :disabled="submitting"
            >
              {{ $t('Make-a-collection') }}
            </button>
          </div>
        </form>
      </template>
    </slot>
  </Popup>
</transition>


