<transition name="fade">
  <Popup
    v-if="showPopup"
    :close="close"
    :is-show="showPopup"
    class="add-collection"
  >
    <slot>
      <template v-if="saved">
        <h2 class="popup__title">{{ $t('Collection-created') }}</h2>
        <div class="popup__subtext">{{ $t('The-collection-has-been-created') }}</div>
        <div>
          <button
            class="button"
            @click.prevent="close"
          >
            {{ $t('See') }}
          </button>
        </div>
      </template>
      <template v-else>
        <h2 class="popup__title">{{ $t('Create-private-collection') }}</h2>
        <div class="popup__subtext">{{ $t('Create-private-collection-text') }}</div>
        <form
          action=""
          @submit.prevent="onSaveCollection"
        >
          <div class="form__item">
            <span class="language-icon">NL</span>
            <input
              v-model="formData.title"
              type="text"
              :placeholder="$t('naam-van-collectie')"
              class="input"
              required="required"
              name="title"
              maxlength="255"
            >
          </div>
          <div class="form__item">
            <span class="language-icon">EN</span>
            <input
              v-model="formData.title_en"
              type="text"
              :placeholder="$t('Name-for-collection')"
              class="input"
              required="required"
              name="title_en"
              maxlength="255"
            >
          </div>
          <div class="form__button">
            <button
              class="button"
              type="submit"
              :disabled="submitting"
            >
              {{ $t('Make-a-collection') }}
            </button>
          </div>
        </form>
      </template>
    </slot>
  </Popup>
</transition>


