
<section class="popular-list">
  <slot name="header-info"></slot>
  <template v-if="computed_communities">
    <ul class="popular-list__items">
      <li class="popular-list__item" v-for="community in computed_communities">
        <nuxt-link
          class="popular-list__link"
          :to="`/communities/${community.id}/`"
          @click.native="setCommunity(community)"
        >
          <h3 class="popular-list__title">{{community.name}}</h3>
          {{community.materials_count}} leermaterialen
        </nuxt-link>
      </li>
    </ul>
    <div class="popular-list--all"  v-if="type !== 'material'">
      <nuxt-link
        to="/communities/"
        class="arrow-link"
      >
        Alle Community's
      </nuxt-link>
    </div>
  </template>
  <div v-else>
    No communities
  </div>
</section>

