<div class="material__info">
  <span v-if="material.has_part.length > 0" class="material__info_set">
    <i class="set-icon"></i>
    {{ $t('Set') }}
  </span>
  <h1 class="material__info_ttl">{{ material.title }}</h1>
  <div class="material__info_author_publishers">
    <div class="material__info_author" v-if="material.authors.length > 0">
      <h3 class="material__info_subttl">{{ $tc('Authors', material.authors.length) }}</h3>
      <span v-for="(author, index) in material.authors">
        <router-link
          :to="authorUrl(author)"
          >
          <span>{{ author }}</span>
        </router-link>
        <span v-if="index + 1 < material.authors.length">, </span>
      </span>
    </div>
    <div class="material__info_publishers" v-if="material.publishers.length > 0">
      <h3 class="material__info_subttl">{{ $tc('Publishers', material.publishers.length) }}</h3>
      <span v-for="(publisher, index) in material.publishers">
        <router-link
          :to="publisherUrl(publisher)"
          >
          <span>{{ publisher }}</span>
        </router-link>
        <span v-if="index + 1 < material.publishers.length">, </span>
      </span>
    </div>
  </div>
  <div class="material__info_quality_preview">
    <div class="material__info_preview" v-if="material.preview_url">
      <h3 class="material__info_subttl">{{ $t('Preview') }}</h3>
      <img class="preview-image" :src="material.preview_url" />
    </div>
    <div class="material__info_quality_container">
      <h3 class="material__info_subttl">{{ $t('Quality') }}</h3>
      <div class="material__info_quality">
        <a
          :href="`/applaud-materials/?material__external_id=${material.external_id}`"
          class="quality__applauds quality__applauds--link"
          @click.prevent="setApplaudMaterial(material)"
          :class="{'quality__applauds--saving': is_loading_applaud}"
          >
          {{ material.applaud_count}}
        </a>
          <div class="quality__collections">
            <span class="quality__collections_count">
              {{material.number_of_collections}}
            </span>
            <span class="quality__collections_txt">{{ $t('Collections-2') }}</span>
          </div>
          <div class="quality__views">
            <div class="quality__views_count">
              {{ contedNumber }}
            </div>
            <div class="quality__views_txt">{{ $t('Viewed') }}</div>
          </div>
          <div class="quality__star">
            <StarRating
              v-model="material.avg_star_rating"
              :counter="material.count_star_rating"
              type="big"
              :disabled="true"
              />
            <a
              href="/save-rating/"
              @click.prevent="showPopupSaveRating"
              v-show=!rating_given
              >
              {{ $t('Geef-waardering') }}
            </a>
          </div>
      </div>
    </div>
  </div>
  <template v-if="material.description">
    <h3 class="material__info_subttl">{{ $t('Resume') }}</h3>
    <div
      class="material__info_description"
      v-html="material.description"
      v-if="material.description">
      {{ $t('No-description') }}
   </div>
    <div
      class="material__info_description"
      v-else
    >
      {{ $t('No-description') }}
    </div>
  </template>

  <MaterialSet v-if="material.has_part.length > 0" :material="material"/>

  <MaterialPartOfSet v-if="material.is_part_of !== null" :material="material"/>

  <Keywords
    class="material__info_keywords"
    :material="material"
    v-if="material.keywords.length"
  />

  <CollectionList
    :collections="publishedCollections"
    v-if="publishedCollections && publishedCollections.length > 0"
  />

  <SaveRating
    v-if="isShow"
    :close="closePopupSaveRating"
    v-model="formData"
    :is-show="isShow"
    :material="material"
  ></SaveRating>
</div>
