<transition name="fade">
  <Popup
    v-if="isShow"
    :close="close"
    :is-show="isShow"
    class="save_filter"
  >
    <slot>
      <h2 class="popup__title">{{ $t('Save-selection') }}</h2>
      <form
        action=""
        @submit.prevent="onSaveFilter"
      >
        <div class="form__item">
          <input
            v-model="formData.name"
            type="text"
            :placeholder="$t('Name')"
            class="input"
            required="required"
            name="name"
            @change="onNameChanged"
          >
        </div>
        <button
          class="button"
          type="submit"
        >
          {{ $t('save') }}
        </button>
      </form>
    </slot>
  </Popup>
</transition>
