<section class="filter-categories">
  <h3 class="filter-categories__title">{{ $t('Filter') }}</h3>

  <div class="filter-categories__links">
    <a
      href="/materials/search/"
      @click.prevent="resetFilter"
      class="filter-categories__reset"
    >{{ $t('Reset-filters') }}</a>
  </div>

  <div class="filter-categories__items">
    <ul v-if="filterableCategories.length" class="filter-categories__items_wrapper">
      <template v-for="(category, index) in filterableCategories">
        <DatesRange
          v-if="category.external_id === publisherDateExternalId"
          :category="category"
          :dates="datesRangeFilter()"
          :inline="true"
          @input="onDateChange"
          theme="min"
          :disable-future-days="true"
        />

        <FilterCategory
          v-else-if="hasVisibleChildren(category)"
          :category="category"
          @check="onCheck"
          @uncheck="onUncheck"
        />
      </template>
    </ul>
  </div>
</section>
