
<section class="filter-categories">

  <h3 class="filter-categories__title">{{ $t('Filter') }}</h3>

  <div class="filter-categories__links">
    <a
      href="/materials/search/"
      @click.prevent="resetFilter"
      class="filter-categories__reset"
    >{{ $t('Reset-filters') }}</a>
  </div>

  <div class="filter-categories__items">
    <ul v-if="filtered_categories.length" class="filter-categories__items_wrapper">
      <li v-for="(category, index) in filtered_categories" class="filter-categories__item">
        <h4 @click="onToggleCategory(category)" class="filter-categories__item_title" :class="{'filter-categories__item_title--hide': category.isOpen}">
            {{ getTitleTranslation(category, $i18n.locale) }}
        </h4>
        <div
          v-if="category.external_id === publisherDateExternalId"
          class="filter-categories__subitems"
          v-show="category.isOpen">
          <DatesRange
            :inline="true"
            :hide-select="true"
            @input="onDateChange"
            theme="min"
            :dates-filter="datesRangeFilter()"
            :disable-future-days="true"
          />
        </div>
        <ul
          v-else-if="hasVisibleChildren(category)"
          v-show="category.isOpen"
          class="filter-categories__subitems">
          <li
            v-for="(item, indexItem) in category.children"
            class="filter-categories__subitem"
            v-if="!item.is_hidden"
          >
            <div class="filter-checkbox">
              <input
                  type="checkbox"
                  :id="item.external_id"
                  :value="item.external_id"
                  :data-category-id="category.external_id"
                  :data-item-id="item.external_id"
                  v-model="filtered_categories[index].children[indexItem].selected"
                  @change="onChange"
              >
              <label :for="item.external_id">
                  {{ getTitleTranslation(item, $i18n.locale) }}
                  ({{ item.count }})
              </label>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>

