<transition name="fade">
  <Popup
    v-if="isShow"
    :close="close"
    :is-show="isShow"
    class="save-rating"
  >
    <slot>
      <h2 class="popup__title">Bedankt voor het bekijken</h2>
      <div class="popup__subtext">
        We hopen dat je met dit leermateriaal aan de slag kunt en horen graag wat je ervan vindt.
      </div>
      <h3>Hoeveel sterren geef jij dit leermateriaal?</h3>
      <form
        action=""
        @submit.prevent="onSaveRating"
      >
        <div class="form__item">
          <StarRating
            v-model="rating"
            :counter="0"
            type="big"
          />
        </div>
        <button
          class="button"
          type="submit"
        >
          Beoordeling opslaan
        </button>
      </form>
    </slot>
  </Popup>
</transition>

