@import './../../../assets/styles/variables';
.preview {
  padding: 50px 0 0 100px;

  &__text_block {
    background: fade(@light-grey, 90%);
    border-radius: 20px;
    padding: 56px 50px 43px 410px;
    margin: 0 0 168px;
  }

  &__title {
    margin: 0 0 20px;
  }

  &__text {
    margin: 0 0 44px;
  }
}
