<div v-if="theme" class="theme">
  <div class="center_block center-header">
    <div class="theme__info ">
      <img src="./../../../assets/images/pictures/rawpixel-760027-unsplash.jpg"
           srcset="./../../../assets/images/pictures/rawpixel-760027-unsplash@2x.jpg 2x,
             ./../../../assets/images/pictures/rawpixel-760027-unsplash@3x.jpg 3x"
           class="theme__info_bg">
        <BreadCrumbs
          :items="[{title: $t('Home'), url: localePath('index')} ]"
        />
        <h2 class="theme__info_ttl">{{ theme.title_translations[$i18n.locale] }}</h2>
        <Search
          class="theme__info_search"
          :hide-categories="true"
          :placeholder="$t('Search-in-theme')"
          v-model="search"
          active-category-external-id="lom.technical.format"
        />
    </div>
  </div>
  <div class="center_block theme__row">
    <div class="theme__description" >
      <h2>{{ $t('About-the-theme') }} <br>{{ theme.title_translations[$i18n.locale] }}</h2>
      <p v-if="theme.description && theme.description_translations !== null"><span v-html="theme.description_translations[$i18n.locale]"> </span></p>
    </div>
    <Disciplines class="theme__disciplines" :disciplines="themeDisciplines" :theme="theme"/>
  </div>
  <div class="theme__materials_and_communities theme__row center_block">
    <Materials
    :materials="materials"
    :items-in-line="2"
    class="theme__materials">
      <template slot="header-info">
        <h2>{{ $t('Uitgelicht') }}</h2>
        <p class="materials__description">{{ $t('Featured-learning-materials-in-the-theme') }} {{ theme.title_translations[$i18n.locale] }}</p>
      </template>
    </Materials>
    <PopularList
      class="theme__communities"
      :communities="themeCommunities"
    >
      <template slot="header-info">
        <h2>{{ $t('Communities') }}</h2>
        <div class="popular-list__description">{{ $t('Subject-communities-within-the-theme') }} {{ theme.title_translations[$i18n.locale] }}</div>
      </template>
    </PopularList>
  </div>
  <div class="theme__collections theme__row center_block">
    <Collections
      :collections="themeCollections"
    >
      <template slot="header-info">
        <h2>{{ $t('Collections-2') }}</h2>
      </template>
    </Collections>
  </div>
</div>
