<div v-if="theme" class="theme">
  <div class="center_block center-header">
    <div class="theme__info ">
      <img src="./../../../assets/images/pictures/rawpixel-760027-unsplash.jpg"
           srcset="./../../../assets/images/pictures/rawpixel-760027-unsplash@2x.jpg 2x,
             ./../../../assets/images/pictures/rawpixel-760027-unsplash@3x.jpg 3x"
           class="theme__info_bg">
        <BreadCrumbs
          :items="[{title:'Home', url: '/'} ]"/>
        <h2 class="theme__info_ttl">{{ theme.title }}</h2>
        <Search
          class="theme__info_search"
          :hide-categories="true"
          placeholder="Zoeken in thema"
          v-model="search"
          active-category-external-id="lom.technical.format"
        />
    </div>
  </div>
  <div class="center_block theme__row">
    <div class="theme__description">
      <h2>Over het thema <br>{{ theme.title }}</h2>
      <p v-if="theme.description && theme.description !== null">{{ theme.description }}</p>
    </div>
    <Disciplines class="theme__disciplines" :disciplines="themeDisciplines" :theme="theme"/>
  </div>
  <div class="theme__materials_and_communities theme__row center_block">
    <Materials
    :materials="materials"
    :items-in-line="2"
    class="theme__materials">
      <template slot="header-info">
        <h2>Uitgelicht</h2>
        <p class="materials__description">Uitgelichte leermaterialen in het thema {{ theme.title }}</p>
      </template>
    </Materials>
    <PopularList
      class="theme__communities"
      :communities="themeCommunities"
    >
      <template slot="header-info">
        <h2>Community’s</h2>
        <div class="popular-list__description">Vakcommunity’s binnen het thema {{ theme.title }}</div>
      </template>
    </PopularList>
  </div>
  <div class="theme__collections theme__row center_block">
    <Collections
      :collections="themeCollections"
    >
      <template slot="header-info">
        <h2>Collecties</h2>
      </template>
    </Collections>
  </div>
</div>
