
<section class="disciplines">
  <h2>{{ $t('Discipline') }}</h2>
  <div class="disciplines__description">{{ $t('Search-and-find') }}</div>
  <ul class="disciplines__list" v-if="disciplines && disciplines.length">
    <li
      class="disciplines__item"
      v-for="discipline in disciplines"
    >
      <nuxt-link
        :to="generateLink(discipline)"
      >
        {{ getTitleTranslation(discipline, $i18n.locale) }} ({{discipline.materials_count || '0'}})
        <span></span>
      </nuxt-link>
    </li>
  </ul>
  <div class="disciplines__info" v-else>{{ $t('No-disciplines') }}</div>
</section>

