<section class="communities">
  <div class="center_block center-header communities__center-header">
    <div class="communities__info ">
      <img
        class="communities__info_bg"
        src="./../../assets/images/pictures/rawpixel-760027-unsplash.jpg"
        srcset="./../../assets/images/pictures/rawpixel-760027-unsplash@2x.jpg 2x,
             ./../../assets/images/pictures/rawpixel-760027-unsplash@3x.jpg 3x"
      >
      <BreadCrumbs
        :items="[{title: $t('Home'), url: localePath('index')}]"
      />
      <h2 class="communities__info_ttl">{{ $t('Communities') }}</h2>
      <Search
        class="communities__info_search"
        :hide-filter="true"
        :hide-categories="true"
      />
    </div>
  </div>
  <div class="center_block">
    <ul class="communities__items" v-if="communities">
      <li
        v-for="community in communities.results"
        class="communities__item tile tile--items-in-line-3 materials__item--items-in-line-3"
      >
        <div class="communities__item_wrapper tile__wrapper">
          <div class="communities__item_logo" v-if="community.logo"><img :src="`${community.logo}`" alt=""></div>
          <h3 class="communities__item_name">{{ getTitleTranslation(community, $i18n.locale) }}</h3>
          <div class="communities__item_count">{{ $tc('learning-materials', community.materials_count) }}</div>
          <div class="communities__item_description" v-html="getDescriptionTranslation(community, $i18n.locale)"></div>
          <div
          class="arrow-link communities__item_link"
          >
            {{ $t('See') }}
          </div>
        </div>
        <nuxt-link
          :to="localePath({name: 'communities-community', params: {community: community.id}})"
          class="communities__item_link_wrapper"
          :key="`${community.id}`"
          @click.native="setCommunity(community)"
        >
          {{ $t('See') }}
        </nuxt-link>
      </li>
    </ul>
  </div>
</section>

