<div class="material__left">
  <div class="material__left_sticky">
    <div class="material__grey_block">
      <template
        v-if="extended_material.disciplines && extended_material.disciplines.length"
      >
        <h4>{{ $t('Discipline') }}</h4>

        <span v-for="discipline in extended_material.disciplines">
          {{discipline.title}}
        </span>
      </template>
      <template
        v-if="extended_material.educationallevels && extended_material.educationallevels.length"
        class="materials__item_educationallevels"
      >
        <h4>{{ $t('Learning-levels') }}</h4>
        <span
          v-for="educationallevel in extended_material.educationallevels"
          class="materials__item_educationallevel"
        >
          {{educationallevel.title}}
        </span>
      </template>
      <!--<h4>Soort materiaal</h4>-->
      <!--Video-->
      <h4>{{ $t('File-format') }}</h4>
      {{ extended_material.format }}
      <h4>{{ $t('Publication-date') }}</h4>
      {{ extended_material.date || '-' }}
      <h4>{{ $t('Language') }}</h4>
      {{ extended_material.language_title }}
      <h4>{{ $t('Rights-of-use') }}</h4>
      <a
        class="material__grey_block-copyright"
        :class="extended_material.copyright"
        :href="copyrightURL(extended_material.copyright)"
        target="_blank"
      ></a>
      {{ $t('Naamsvermelding-Gelijk-delen') }}
      <a
        v-if="extended_material.url"
        :href="extended_material.url"
        class="button button--full-width material__grey_block-btn"
        target="_blank"
      >{{ $t('Open-link') }}</a>
    </div>

    <div class="quality__social material__social" ref="social_counters">
      <social-sharing
        :url="href"
        :title="material.title"
        :description="material.description"
        inline-template
        v-cloak
        @close="closeSocialSharing"
      >
        <div class="quality__social_links">
          <network network="linkedin" class="quality__social_link">
            <i class="quality__social--linkedin"></i>
            <span class="quality__social_counter" id="linkedin_counter"></span>
          </network>
          <network network="twitter" class="quality__social_link">
            <i class="quality__social--twitter"></i>
            <span class="quality__social_counter" id="twitter_counter"></span>
          </network>
        </div>
      </social-sharing>
      <a href="#share_link" class="quality__social_link" @click.prevent="showShareMaterial">
        <i class="quality__social--share"></i>
        <span class="quality__social_counter" id="url_counter"></span>
      </a>
    </div>

    <div class="material__left-box">
      <template v-if="!isAuthenticated">
        <h3 class="h3">{{ $t('Add-material-to-collection') }}</h3>
        <p>{{ $t('To-be-able-to-make-collections-you-must-first-log') }}</p>
        <a
          :href="getLoginLink()"
          class="arrow-link"
        >{{$t('Log-in-with-SURFconext')}}</a>
      </template>
      <template v-else-if="isAuthenticated && my_collections && !my_collections.results.length">
        <h3 class="h3">{{ $t('Add-material-to-collection') }}</h3>
        <p>{{ $t('You-do-not-have-any-collections-yet-Create-your-fi') }}</p>
        <a
          href="/add_collection/"
          @click=""
          class="add-link"
          @click.prevent="addCollection"
        >{{ $t('Make-a-collection') }}</a>
      </template>
      <template v-else-if="!extended_material.has_bookmark">
        <h3 class="h3">{{ $t('Add-material-to-collection') }}</h3>
        <Multiselect
          v-if="full_loading && my_collections.results"
          v-model="checked_collections"
          :items="my_collections.results"
          :placeholder="$t('Select-collection')"
          class="material__left_select"
          :disabled="submitting"
        ></Multiselect>
        <a
          href="/add_collection/"
          @click=""
          class="add-link"
          @click.prevent="addCollection"
        >{{ $t('Make-a-collection') }}</a>
      </template>
      <template
        v-else-if="extended_material.has_bookmark"
      >
        <h3 class="h3">{{ $t('Add-material-to-collection') }}</h3>
        <Multiselect
          v-if="full_loading && my_collections.results"
          v-model="checked_collections"
          :items="my_collections.results"
          :placeholder="$t('Select-collection')"
          class="material__left_select"
          :disabled="submitting"
        ></Multiselect>
        <a
          href="/add_collection/"
          @click=""
          class="add-link"
          @click.prevent="addCollection"
        >{{ $t('Make-a-collection') }}</a>
      </template>
    </div>
  </div>
  <SaveMaterialInCollection
    :material="material"
    :is-show="isShowSaveMaterial"
    :close="closeSaveMaterial"
    v-if="isShowSaveMaterial"
  />
  <AddCollection
    :is-show="isShowAddCollection"
    :close="closeAddCollection"
    v-if="isShowAddCollection"
  />
  <ShareMaterial
    v-if="isShowShareMaterial"
    :close="closeShareMaterial"
    :is-show="isShowShareMaterial"
    :material="material"
    v-model="is_copied"
  ></ShareMaterial>
</div>
