<div class="material__left">
  <div class="material__left_sticky">
    <div class="material__grey_block">
      <h4>Vakgebieden</h4>
      Biologie
      <h4>Leerniveaus</h4>
      WO Bachelor
      <!--<h4>Soort materiaal</h4>-->
      <!--Video-->
      <h4>Bestandsformaat</h4>
      {{ material.format }}
      <h4>Publicatiedatum</h4>
      {{ material.date || '-' }}
      <h4>Taal</h4>
      {{ material.language }}
      <h4>Gebruiksrechten</h4>
      <span
        class="material__grey_block-copyright"
        :class="material.copyright"
      ></span>
      Naamsvermelding - Gelijk delen
      <a
        v-if="material.url"
        :href="material.url"
        class="button button--full-width material__grey_block-btn"
        target="_blank"
      >Open link</a>
    </div>
    <div class="material__left-box">
      <template v-if="!isAuthenticated">
        <h3 class="h3">Materiaal toevoegen aan collectie</h3>
        <p>Om collecties te kunnen maken moet u eerst inloggen</p>
        <a
          :href="getLoginLink()"
          class="arrow-link"
        >Inloggen met SURFconext</a>
      </template>
      <template v-else-if="isAuthenticated && my_collections && !my_collections.results.length">
        <h3 class="h3">Materiaal toevoegen aan collectie</h3>
        <p>U heeft nog geen collecties. Maak uw eerste collectie aan.</p>
        <a
          href="/add_collection/"
          @click=""
          class="add-link"
          @click.prevent="addCollection"
        >Collectie maken</a>
      </template>
      <template v-else-if="!material.has_bookmark">
        <h3 class="h3">Materiaal toevoegen aan collectie</h3>
        <Multiselect
          v-if="full_loading && my_collections.results"
          v-model="checked_collections"
          :items="my_collections.results"
          placeholder="Selecteer collectie"
          class="material__left_select"
          :disabled="submitting"
        ></Multiselect>
      </template>
      <template
        v-else-if="material.has_bookmark"
      >
        <h3 class="h3">Materiaal toevoegen aan collectie</h3>
        <Multiselect
          v-if="full_loading && my_collections.results"
          v-model="checked_collections"
          :items="my_collections.results"
          placeholder="Selecteer collectie"
          class="material__left_select"
          :disabled="submitting"
        ></Multiselect>
      </template>
    </div>
  </div>
  <SaveMaterialInCollection
    :material="material"
    :is-show="isShowSaveMaterial"
    :close="closeSaveMaterial"
    v-if="isShowSaveMaterial"
  />
  <AddCollection
    :is-show="isShowAddCollection"
    :close="closeAddCollection"
    v-if="isShowAddCollection"
  />
</div>
