
<section class="main-header">
  <div class="main-header__wrapper">
    <nuxt-link :to="localePath('index')" class="main-header__logo">
      <img
        src="/images/surflogo.png"
        srcset="/images/surflogo@2x.png 2x, /images/surflogo@3x.png 3x"
        class="main-header__logo_img"
      >
    </nuxt-link>
    <Menu class="main-header__menu" />
    <div class="main-header__actions">
      <div class="main-header__user" v-if="isAuthenticated">
        <div class="main-header__user_name arrow-link"><span class="link">{{user.full_name}}</span></div>
        <nav class="main-header__user_menu">
          <ul class="main-header__user_menu_items">
            <li class="main-header__user_menu_item">
              <nuxt-link class="main-header__user_menu_link" :to="localePath({name: 'my-filters'})">
                {{ $t('my_filters') }}
              </nuxt-link>
            </li>
            <li class="main-header__user_menu_item">
              <nuxt-link class="main-header__user_menu_link" :to="localePath({name: 'my-collections'})">
                {{ $t('My-collections') }}
              </nuxt-link>
            </li>
            <li class="main-header__user_menu_item" v-if="user.is_admin">
              <nuxt-link class="main-header__user_menu_link" :to="localePath({name: 'my-communities'})">
                {{ $t('My-community') }}
              </nuxt-link>
            </li>
            <li class="main-header__user_menu_item">
              <a
                class="main-header__user_menu_link"
                href="/logout/"
                @click.prevent="logout()"
              >
                {{ $t('logout') }}
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div
        class="main-header__login"
        v-else
      >
        <a
          :href="getLoginLink()"
          class="button"
        >
          {{ $t('login') }}
        </a>
      </div>
      <nuxt-link
        class="main-header__lang main-header__lang--nl"
        :to="switchLocalePath('nl')"
        v-if="$i18n.locale === 'en'"
      >Nederlands</nuxt-link>
      <nuxt-link
        class="main-header__lang main-header__lang--en"
        :to="switchLocalePath('en')"
        v-if="$i18n.locale === 'nl'"
      >English</nuxt-link>
    </div>
  </div>
  <div class="main-header__mobile">
    <button class="main-header__menu_button" @click="toggleMobileMenu()"></button>
    <nuxt-link to="/" class="main-header__mobile_logo" v-on:click.native="hideMobileMenu()">
      <img
        src="/images/surflogo.png"
        srcset="/images/surflogo@2x.png 2x, /images/surflogo@3x.png 3x"
        class="main-header__logo_img"
      >
    </nuxt-link>
    <div class="main-header__mobile_menu" v-if="show_header_menu" onclick="">
      <div class="main-header__user" v-if="isAuthenticated">
        <div class="main-header__user_name arrow-link" onclick=""><span class="link">{{user.full_name}}</span></div>
        <nav class="main-header__user_menu">
          <ul class="main-header__user_menu_items">
            <li class="main-header__user_menu_item">
              <nuxt-link class="main-header__user_menu_link" :to="localePath({name: 'my-filters'})">
                {{ $t('my_filters') }}
              </nuxt-link>
            </li>
            <li class="main-header__user_menu_item">
              <nuxt-link class="main-header__user_menu_link" :to="localePath({name: 'my-collections'})">
                {{ $t('My-collections') }}
              </nuxt-link>
            </li>
            <li class="main-header__user_menu_item" v-if="user.is_admin">
              <nuxt-link class="main-header__user_menu_link" :to="localePath({name: 'my-communities'})">
                {{ $t('My-community') }}
              </nuxt-link>
            </li>
            <li class="main-header__user_menu_item">
              <a
                class="main-header__user_menu_link"
                href="/logout/"
                @click.prevent="logout()"
              >
                {{ $t('logout') }}
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div v-else class="main-header__mobile_login">
        <a :href="getLoginLink()" class="button">{{ $t('login') }}</a>
      </div>
      <Menu class="main-header__menu" />
    </div>
  </div>
</section>

