
<section class="search" :class="{'search--hide-categories': hideCategories}">
  <form
    action="/materials/search/"
    @submit.prevent="onSubmit"
  >
    <div class="search__fields">
      <div class="search__input">Label</div>
      <div class="search__autocomplete">
        <v-select
          :options="keywords"
          :multiple="true"
          :placeholder="placeholder"
          @search="onSearch"
          taggable
          inputId="tags"
          push-tags
          v-model="formData.search_text"
          name="keywords"
          :resetOnOptionsChange="true"
        >
          <span slot="no-options">{{ $t('Sorry-no-results-found') }}</span>
        </v-select>
      </div>
      <div class="search__chooser search__select" v-if="!hideCategories">
        <select
          name="categories"
          @change="changeFilterCategory"
          v-if="showSelectedCategory && filter_category"
        >
          <option value="" hidden>{{ filter_category.name }}</option>
          <option
            v-for="category in filter_category.children"
            :value="category.external_id"
          >{{category.name}}</option>
        </select>
      </div>
      <button
        class="button"
        type="submit"
      >
        {{ $t('Search') }}
      </button>
      <!--:disabled="!formData.search_text || (formData.search_text && !formData.search_text.length)"-->
    </div>
    <div class="search__themes" v-if="!hideFilter">
      <h4 class="search__themes_title">{{ $t('Filter-search-results') }}</h4>
      <ul if="active_category" class="search__themes_items">
        <li v-for="item in active_category.children" v-if="!item.is_hidden" class="search__themes_item">
          <input
            type="checkbox"
            :id="item.external_id"
            :value="item.external_id"
            v-model="item.selected"
            name="search_category"
          >
          <label :for="item.external_id">{{item.name}}</label>
        </li>
      </ul>
    </div>
    <div class="search__themes_mobile" v-if="!hideFilter">
      <button class="search__themes_mobile_button" @click.prevent="showMobileFilterOptions"
              :class="{
            'search__themes_mobile_button--plus': showMobileFilter === false,
            'search__themes_mobile_button--minus': showMobileFilter === true
          }"
      >
        {{ $t('Filter-options') }}
      </button>
      <ul v-if="showMobileFilter" class="search__themes_items">
        <li v-for="item in active_category.children" class="search__themes_item">
          <input
            type="checkbox"
            :id="item.external_id"
            :value="item.external_id"
            v-model="item.selected"
            name="search_category"
          >
          <label :for="item.external_id">{{item.name}}</label>
        </li>
      </ul>
    </div>
  </form>
</section>
