<section class="main-header">
    <div id="notification-bar" v-if="user_permission_notifications.length">
      <div class="notifications">
        <div v-for="notification in user_permission_notifications">
          <p class="message">
            {{ notification[$i18n.locale].description }}
            (<router-link :to="localePath(notification.more_info_route)">{{ $t('more-info') }}</router-link>)
          </p>
          <p class="acknowledge"><button class="button" @click="acknowledgeNotification(notification.type)">{{ $t('Ok') }}</button></p>
        </div>
      </div>
    </div>

    <div id="messages-bar-container">
      <div class="messages-bar" v-for="level in getMessageLevels" :key="level" v-if="hasMessages(level)">
        <i class="fas" :class="[getLevelIcon(level), level]"></i>
        <p class="message">
          {{ getMessagesContent(level) }}
        </p>
        <i @click="$store.commit('CLEAR_MESSAGES', level)" class="fas fa-times"></i>
      </div>
    </div>

    <div class="center_block">
      <div class="main-header__wrapper">
        <router-link :to="localePath('index')" class="main-header__logo">
          <img
            src="/images/edusourceslogo.png"
            srcset="/images/edusourceslogo@2x.png 2x, /images/edusourceslogo@3x.png 3x"
            class="main-header__logo_img"
          >
        </router-link>
        <Menu class="main-header__menu" />
        <div class="main-header__actions">
          <div class="main-header__user" v-if="isAuthenticated">
            <div class="main-header__user_name arrow-link"><span class="link">{{ $t('Menu') }}</span></div>
            <nav class="main-header__user_menu">
              <ul class="main-header__user_menu_items">
                <li class="main-header__user_menu_item">
                  <router-link class="main-header__user_menu_link" :to="localePath({name: 'my-privacy'})">
                    {{ $t('My-privacy') }}
                  </router-link>
                </li>
                <li class="main-header__user_menu_item">
                  <a
                    class="main-header__user_menu_link"
                    href="/logout/"
                    @click.prevent="logout()"
                  >
                    {{ $t('logout') }}
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <LanguageSwitch />
        </div>
      </div>
    </div>

    <div class="main-header__mobile">
      <button class="main-header__menu_button" @click="toggleMobileMenu()"></button>
      <router-link to="/" class="main-header__mobile_logo" v-on:click.native="hideMobileMenu()">
        <img
          src="/images/edusourceslogo.png"
          srcset="/images/edusourceslogo@2x.png 2x, /images/edusourceslogo@3x.png 3x"
          class="main-header__logo_img"
        >
      </router-link>
      <div class="main-header__mobile_menu" v-if="show_header_menu" onclick="">
        <div class="main-header__user">
          <ul class="main-header__user_menu_items">
            <li class="main-header__user_menu_item">
              <router-link
                :to="localePath('communities')"
                class="main-header__user_menu_link"
                @click.native="hideMobileMenu()"
              >
                {{ $t('Communities') }}
              </router-link>
            </li>
            <li class="main-header__user_menuitem">
              <router-link
                :to="localePath('how-does-it-work')"
                class="main-header__user_menu_link"
                @click.native="hideMobileMenu()"
              >
                {{ $t('How-does-it-work') }}
              </router-link>
            </li>
            <li class="main-header__user_menu_item" v-if="isAuthenticated">
              <router-link
                class="main-header__user_menu_link"
                :to="localePath({name: 'my-privacy'})"
                @click.native="hideMobileMenu()"
              >
                {{ $t('My-privacy') }}
              </router-link>
            </li>
            <li class="main-header__user_menu_item" v-if="isAuthenticated">
              <a
                class="main-header__user_menu_link"
                href="/logout/"
                @click.prevent="logout()"
                >
                {{ $t('logout') }}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <LanguageSwitch />
    </div>

    <Feedback />
</section>
