@import '../../variables';

.search {
  #autosuggest {
    flex: 1;
    align-items: center;

    &.with-dropdown {
      .autosuggest__results-container {
        box-shadow: 0 15px 15px 0 rgba(5, 14, 29, 0.2);
        border-radius: 0 0 20px 20px;
        z-index: 1;
      }
    }

    input {
      display: inline-block;
      font-family: nunito;
      font-size: 16px;
      width: calc(100% - 50px);
      height: 100%;
      border: none;
      outline: none;
      margin-left: 50px;
      padding: 0;

      @media @mobile {
        margin-bottom: 10px;
      }
    }

    .autosuggest__results-container {
      position: absolute;
      width: 100%;
      left: 0;
      right: 0;
      background-color: #ffffff;
      font-family: nunito;
      font-size: 16px;

      .autosuggest__results {
        ul {
          list-style: none;
          padding: 0;
          padding-top: 10px;
        }

        li {
          text-align: left;
          padding: 10px;
          padding-left: 67px;
          background: url('/images/search-grey.svg') 27px 50% no-repeat;
          background-size: 20px;
          cursor: pointer;

          &:hover, &.autosuggest__results-item--highlighted {
            background: @dark-blue url('/images/search-white.svg') 27px 50% no-repeat;
            background-size: 20px;
            color: #fff;
            text-decoration: underline;
          }

          &:last-child {
            border-radius: 0 0 20px 20px;
          }
        }
      }
    }
  }

}
