<section class="search" :class="{'search--hide-categories': !selectOptions || selectOptions.options.length === 0}">
  <form
    action="/materials/search/"
    @submit.prevent="onSubmit"
  >
    <div class="search-container">
      <div class="search__fields">
        <vue-autosuggest
          v-bind:class="autosuggestClasses"
          :suggestions="suggestions"
          :input-props="autosuggestInputProps"
          v-model="searchText"
          @input="onInputChange"
          @selected="onSelectSuggestion"
          >
        </vue-autosuggest>
        <div class="search__chooser search__select" v-if="selectOptions && selectOptions.options.length > 0">
          <select name="categories" @change="changeSelectedOption">
            <option value="" hidden>{{ selectOptions.name }}</option>
            <option
              v-for="category in selectOptions.options"
              :value="category.external_id"
            >{{titleTranslation(category) }}</option>
          </select>
        </div>
        <button
          class="button"
          type="submit"
        >
          {{ $t('Search') }}
        </button>
      </div>
    </div>
  </form>
</section>
