<section class="search" :class="{'search--hide-categories': !selectOptions || selectOptions.options.length === 0}">
  <form
    action="/materials/search/"
    @submit.prevent="onSubmit"
  >
    <div class="search-container">
      <div class="search__fields">
        <vue-autosuggest
          v-bind:class="autosuggestClasses"
          :suggestions="suggestions"
          :input-props="autosuggestInputProps"
          v-model="searchText"
          @input="onInputChange"
          @selected="onSelectSuggestion"
          >
        </vue-autosuggest>
        <div class="search__chooser search__select" v-if="selectOptions && selectOptions.options.length > 0">
          <select name="categories" @change="changeSelectedOption">
            <option value="" hidden>{{ selectOptions.name }}</option>
            <option
              v-for="category in selectOptions.options"
              :value="category.external_id"
            >{{titleTranslation(category) }}</option>
          </select>
        </div>
        <button
          class="button"
          type="submit"
        >
          {{ $t('Search') }}
        </button>
      </div>
    </div>
    <div class="search__themes" v-if="checkboxOptions && checkboxOptions.options.length > 0">
      <h4 class="search__themes_title">{{ $t('Filter-search-results') }}</h4>
      <ul class="search__themes_items">
        <li v-for="item in checkboxOptions.options" v-if="!item.is_hidden" class="search__themes_item">
          <input
            type="checkbox"
            :id="item.external_id"
            :value="item.external_id"
            @change="changeCheckboxOption"
            name="search_category"
          >
          <label :for="item.external_id"> {{titleTranslation(item) }}</label>
        </li>
      </ul>
    </div>
  </form>
</section>
