
<section class="search" :class="{'search--hide-categories': !displayCategorySelect}">
  <form
    action="/materials/search/"
    @submit.prevent="onSubmit"
  >
    <div class="search-container">
      <div class="search__fields">
        <vue-autosuggest
          v-bind:class="autosuggestClasses"
          :suggestions="suggestions"
          :input-props="autosuggestInputProps"
          v-model="searchText"
          @input="onInputChange"
          @selected="onSelectSuggestion"
          @click="clickHandler"
          >
        </vue-autosuggest>
        <div class="search__chooser search__select" v-if="displayCategorySelect">
          <select
            name="categories"
            @change="changeFilterCategory"
            v-if="filterCategory"
          >
            <option value="" hidden>{{ filterCategory.name }}</option>
            <option
              v-for="category in filterCategory.children"
              :value="category.external_id"
            >{{titleTranslation(category) }}</option>
          </select>
        </div>
        <button
          class="button"
          type="submit"
        >
          {{ $t('Search') }}
        </button>
      </div>
    </div>
    <div class="search__themes" v-if="displayCategoryFilter">
      <h4 class="search__themes_title">{{ $t('Filter-search-results') }}</h4>
      <ul if="activeCategory" class="search__themes_items">
        <li v-for="item in activeCategory.children" v-if="!item.is_hidden" class="search__themes_item">
          <input
            type="checkbox"
            :id="item.external_id"
            :value="item.external_id"
            v-model="item.selected"
            name="search_category"
          >
          <label :for="item.external_id"> {{titleTranslation(item) }}</label>
        </li>
      </ul>
    </div>
    <div class="search__themes_mobile" v-if="displayCategoryFilter">
      <button class="search__themes_mobile_button" @click.prevent="showMobileFilterOptions"
              :class="{
            'search__themes_mobile_button--plus': showMobileFilter === false,
            'search__themes_mobile_button--minus': showMobileFilter === true
          }"
      >
        {{ $t('Filter-options') }}
      </button>
      <ul v-if="showMobileFilter" class="search__themes_items">
        <li v-for="item in activeCategory.children" class="search__themes_item">
          <input
            type="checkbox"
            :id="item.external_id"
            :value="item.external_id"
            v-model="item.selected"
            name="search_category"
          >
          <label :for="item.external_id">{{titleTranslation(item) }}</label>
        </li>
      </ul>
    </div>
  </form>
</section>
