<section class="search" :class="{'search--hide-categories': !displayEducationalLevelSelect}">
  <form
    action="/materials/search/"
    @submit.prevent="onSubmit"
  >
    <div class="search-container">
      <div class="search__fields">
        <vue-autosuggest
          v-bind:class="autosuggestClasses"
          :suggestions="suggestions"
          :input-props="autosuggestInputProps"
          v-model="searchText"
          @input="onInputChange"
          @selected="onSelectSuggestion"
          >
        </vue-autosuggest>
        <div class="search__chooser search__select" v-if="displayEducationalLevelSelect">
          <select
            name="categories"
            @change="changeFilterCategory"
            v-if="educationalLevelCategory"
          >
            <option value="" hidden>{{ educationalLevelCategory.name }}</option>
            <option
              v-for="category in educationalLevelCategory.children"
              :value="category.external_id"
            >{{titleTranslation(category) }}</option>
          </select>
        </div>
        <button
          class="button"
          type="submit"
        >
          {{ $t('Search') }}
        </button>
      </div>
    </div>
    <div class="search__themes" v-if="displayMaterialTypeFilter">
      <h4 class="search__themes_title">{{ $t('Filter-search-results') }}</h4>
      <ul if="materialTypeCategory" class="search__themes_items">
        <li v-for="item in materialTypeCategory.children" v-if="!item.is_hidden" class="search__themes_item">
          <input
            type="checkbox"
            :id="item.external_id"
            :value="item.external_id"
            v-model="item.selected"
            name="search_category"
          >
          <label :for="item.external_id"> {{titleTranslation(item) }}</label>
        </li>
      </ul>
    </div>
  </form>
</section>
