<div class="star-rating" :class="{['star-rating--' + type]: type}">
  <label
    class="star-rating__star"
    v-for="rating in ratings"
     :class="{
       'is-selected': ((temp_value >= rating) && value != null),
       'is-disabled': disabled,
       'star-rating__star--dark-stars': darkStars
     }"
     @click="setValue(rating)"
     @mouseover="star_over(rating)"
     @mouseout="star_out"
  >
    <input
      class="star-rating star-rating__checkbox"
      type="radio"
      :value="rating"
      name="name"
      v-model="temp_value"
      :disabled="disabled">
  </label>
  <span class="star-rating__counter" v-if="type === 'default'">({{counter}})</span>
  <span class="star-rating__counter_text" v-else-if="type === 'giant'" >{{types[temp_value]}}</span>
  <span class="star-rating__counter" v-else >{{temp_value}} / 5</span>
  <span class="star-rating__counter_big" v-if="type === 'big' && !hideCounter" >
    {{counter}} waarderingen
  </span>

</div>
