
<transition name="fade">
  <Popup
    v-if="isShow"
    :close="close"
    :is-show="isShow"
    class="add-filter"
  >
    <slot>
      <template v-if="saved">
        <h2 class="popup__title">{{ $t('Selection-created') }}</h2>
        <div class="popup__subtext">{{ $t('Selection-created-text') }}</div>
        <div>
          <button
            class="button"
            @click.prevent="close"
          >
            {{ $t('See') }}
          </button>
        </div>
      </template>
      <template v-else>
        <h2 class="popup__title">{{ $t('Make-selection') }}</h2>
        <div class="popup__subtext">{{ $t('Make-a-new-selection') }}</div>
        <form
          action=""
          @submit.prevent="onSaveFilter"
        >
          <div class="form__item">
            <input
              v-model="formData.title"
              type="text"
              :placeholder="$t('Name-for-selection')"
              class="input"
              required="required"
              name="title"
              maxlength="20"
            >
          </div>
          <button
            class="button"
            type="submit"
            :disabled="submitting"
          >
            {{ $t('Make-selection') }}
          </button>
        </form>
      </template>
    </slot>
  </Popup>
</transition>


