<section class="collections">
  <slot name="header-info"> </slot>
  <div class="collections__items" v-if="collections && collections.length">
    <div
      :class="[`tile--items-in-line-${itemsInLine}`, `materials__item--items-in-line-${itemsInLine}`]"
      v-for="collection in collections"
      class="collections__item tile"
    >
      <CollectionCard :collection="collection"></CollectionCard>
    </div>
  </div>
  <div v-if="loading"><Spinner></Spinner></div>
  <div class="collections__info" v-else-if="collections && !collections.length">
    {{ $t('No-collections') }}
  </div>
</section>
