<section class="info-block">
  <template>
    <div class="center_block">
      <div class="how_work__desc">
        <div class="how_work__bg_block">
          <img
            :src="logo"
            class="preview__bg_block-img"
          >
        </div>
        <div class="how_work__txt_block">
          <h2 class="how_work__txt_block__ttl">{{ title }}</h2>
          <div class="html-content" v-html="content"></div>
          <a
            :href="`${ website_url }`"
            v-if="website_url"
            class="how_work_link arrow-link"
          >
            {{ $t('Visit-website') }}
          </a>
        </div>
      </div>
    </div>
  </template>
</section>
