@import 'variables';
body {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: @main-font;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: @dark-grey;
}

.main_block {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.main {
  flex: 1 1 auto;
  box-sizing: border-box;
}

.container {
}
.tile {
  position: relative;
  word-break: break-word;
  margin-bottom: 23px;

  &--items-in-line-1 {
    width: 100%;
  }

  &--items-in-line-2 {
    width: ~'calc(50% - 18px)';
    &:not(:nth-child(2n + 1)) {
      margin-left: 18px;
    }
  }

  &--items-in-line-3 {
    width: ~'calc(33.333% - 18px)';
    &:not(:nth-child(3n + 1)) {
      margin-left: 18px;
    }
  }

  &--items-in-line-4 {
    width: ~'calc(25% - 18px)';
    &:not(:nth-child(4n + 1)) {
      margin-left: 18px;
    }
  }


  &__wrapper {
    position: relative;
    overflow: hidden;
    height: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 5px rgba(204, 204, 204, 0.4);
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

h1,
.h1 {
  font-family: @second-font;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: normal;
  color: @black;
}

h2,
.h2 {
  font-family: @second-font;
  font-size: 38px;
  font-weight: bold;
  color: @black;
}

h3,
.h3 {
  font-family: @second-font;
  font-size: 22px;
  font-weight: bold;
  color: @black;
}

h4,
.h4 {
  font-family: @second-font;
  font-size: 16px;
  font-weight: bold;
  color: @black;
}

h5,
.h5 {
  font-family: @main-font;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.15;
  color: @black;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

a,
.link {
  color: @dark-blue;
  text-decoration: none;

  &:not(.button):hover {
    text-decoration: underline;
  }
}

.disable_block {
  opacity: 0.5;
  pointer-events: none;
}

.center_block {
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
}

.arrow-link {
  &-grey:after,
  &:after {
    content: '';
    display: inline-block;
    width: 14px;
    height: 16px;
    vertical-align: middle;
  }

  &:after {
    background: url('./../../assets/images/arrow-text.svg') 50% 50% / contain no-repeat;
  }

  &-grey:after {
    background: url('./../../assets/images/arrow-text-grey.svg') 50% 50% / contain no-repeat;
  }
}

pre {
  max-width: 100%;
  white-space: pre-wrap;
}

.loading {
  opacity: .5;
  pointer-events: none;
}

.not_found {
  .h3;
  text-align: center;
}
