
<transition name="fade">
  <Popup
    v-if="isShow"
    :close="close"
    :is-show="isShow"
    class="share-material"
  >
    <slot>
      <h2 class="popup__title">{{ $t('Share-material') }}</h2>
      <div class="popup__subtext">{{ $t('Share-this-inspiration-with-your-colleagues-or-stu') }}</div>
      <div>
        <h4>{{$t('Share-via-URL')}}</h4>
        <div class="share-material__actions">
          <div class="share-material__actions_link link">{{link}}</div>
          <button
            class="button"
            v-clipboard:copy="link"
            v-clipboard:success="onCopy"
          >
            {{saved ? $t('Link-copied') : $t('Copy-link')}}
          </button>
        </div>
      </div>
    </slot>
  </Popup>
</transition>


