
<section class="menu">
  <nav class="menu__links">
    <router-link class="menu__link" :to="localePath('how-does-it-work')">{{ $t('How-does-it-work') }}</router-link>
    <router-link class="menu__link" :to="{name: 'privacy' + '___' + $i18n.locale}">{{ $t('Privacy-link') }}</router-link>
    <a class="menu__link" :href="'mailto:' + 'info@edusources.nl'">{{ $t('Contact-email') }}</a>
    <router-link class="menu__link" :to="{name: 'institutes' + '___' + $i18n.locale}">{{ $t('Institutes') }}</router-link>
  </nav>
</section>

