<div class="material__info">
  <h1 class="material__info_ttl">{{ material.title }}</h1>
  <div class="material__info_author">
    <nuxt-link
      :to="authorUrl"
      v-if="material.author"
    >
      {{ material.author }}
    </nuxt-link>
    {{ material.publisher }}
  </div>
  <h3 class="material__info_subttl">{{ $t('Quality') }}</h3>
  <div class="material__info_quality">
    <a
      :href="`/applaud-materials/?material__external_id=${material.external_id}`"
      class="quality__applauds quality__applauds--link"
      v-if="isAuthenticated && !is_applauded"
      @click.prevent="setApplaudMaterial(material)"
      :class="{'quality__applauds--saving': is_loading_applaud}"
    >
      {{ material.number_of_applauds}}
    </a>
    <div class="quality__applauds" v-else :class="{'quality__applauds--applauded': is_applauded}">
      {{ material.number_of_applauds}}
    </div>
    <div class="quality__collections">
      <span class="quality__collections_count">
        {{material.number_of_collections}}
      </span>
      <span class="quality__collections_txt">{{ $t('Collections-2') }}</span>
    </div>
    <div class="quality__views">
      <div class="quality__views_count">
        {{ contedNumber }}
      </div>
      <div class="quality__views_txt">{{ $t('Viewed') }}</div>
    </div>
    <div class="quality__star">
      <StarRating
        v-model="material.average_rating"
        :counter="material.number_of_ratings"
        type="big"
        :disabled="true"
      />
      <a
        href="/save-rating/"
        v-if="isAuthenticated && !rating"
        @click.prevent="showPopupSaveRating"
      >
        {{ $t('Geef-waardering') }}
      </a>
    </div>
    <div class="quality__social" ref="social_counters">
      <social-sharing
        :url="href"
        :title="material.title"
        :description="material.description"
        inline-template
        v-cloak
        @close="closeSocialSharing"
      >
        <div class="quality__social_links">
          <network network="linkedin" class="quality__social_link">
            <i class="quality__social--linkedin"></i>
            <span class="quality__social_counter" id="linkedin_counter"></span>
          </network>
          <network network="twitter" class="quality__social_link">
            <i class="quality__social--twitter"></i>
            <span class="quality__social_counter" id="twitter_counter"></span>
          </network>
        </div>
      </social-sharing>
      <a href="#share_link" class="quality__social_link" @click.prevent="showShareMaterial">
        <i class="quality__social--share"></i>
        <span class="quality__social_counter" id="url_counter"></span>
      </a>
    </div>
  </div>
  <template v-if="material.description">
    <h3 class="material__info_subttl">{{ $t('Resume') }}</h3>
    <div
      class="material__info_description"
    v-html="material.description"
    v-if="material.description">
      {{ $t('No-description') }}
   </div>
    <div
      class="material__info_description"
      v-else
    >
      {{ $t('No-description') }}
    </div>
  </template>

  <div class="material__info_thems_and_communities">
    <Themes class="material__info_thems" :themes="material_themes"/>
    <Keywords class="material__info_keywords" :material="material" />
  </div>
  <PopularList
    class="material__info_communities"
    :type="'material'"
    :communities="material.communities"
  >
    <template slot="header-info">
      <h3>{{ $t('In-the-collection-of') }}</h3>
    </template>
  </PopularList>
  <SaveRating
    v-if="isShow"
    :close="closePopupSaveRating"
    v-model="formData"
    :is-show="isShow"
    :material="material"
  ></SaveRating>
  <ShareMaterial
    v-if="isShowShareMaterial"
    :close="closeShareMaterial"
    :is-show="isShowShareMaterial"
    :material="material"
    v-model="is_copied"
  ></ShareMaterial>
</div>
