
<section class="menu">
  <nav class="menu__links">
    <router-link class="menu__link" :to="{name: 'privacy' + '___' + $i18n.locale}">{{ $t('Privacy-link') }}</router-link>
    <!--<router-link class="menu__link" :to="{name: 'copyright' + '___' + $i18n.locale}">{{ $t('Copyright') }}</router-link>
    <router-link class="menu__link" :to="{name: 'cookies' + '___' + $i18n.locale}">{{ $t('Cookies') }}</router-link>
    <router-link class="menu__link" :to="{name: 'disclaimer' + '___' + $i18n.locale}">{{ $t('Disclaimer') }}</router-link>-->
  </nav>
</section>

