@import url('./../../assets/styles/variables');
.themes {
  &__description {
    font-size: 20px;
    line-height: 1.15;
    margin: 3px 0 41px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: @second-font;
    font-size: 16px;
    font-weight: bold;
  }
  &__info {
    margin: 0 0 22px;
  }

  &__item {
    width: 50%;
    margin: 0 0 22px;
  }

  a {
    text-decoration: none;
  }

  &.material__info_thems {
    width: 50%;
    h2 {
      font-size: 22px;
      padding: 0 0 7px;
      margin: 0 0 32px;
      border-bottom: 1px solid #f4f4f4;
    }
    .themes__description {
      display: none;
    }
    .themes__item:nth-child(2) ~ .themes__item {
      display: none;
    }
  }
}
