<section class="materials">
  <slot name="header-info"></slot>
  <ul
    class="materials__items"
    :class="{
      loading: current_loading,
      deleting: selectFor === 'delete',
      adding: selectFor !== 'delete',
      list: itemsInLine === 1,
      tile: itemsInLine > 1,
    }"
    v-if="extended_materials && extended_materials.length"
  >
    <li
      :class="[
        `tile--items-in-line-${itemsInLine}`,
        `materials__item--items-in-line-${itemsInLine}`,
        selectMaterialClass
      ]"
      v-for="(material, index) in extended_materials"
      class="materials__item tile"
      v-if="itemsLength !== 'auto' ? index < itemsLength : true"
    >
      <div class="materials__bookmark" v-if="material.has_bookmark">Bookmark</div>
      <button
        :class="{'select-icon': true, 'selected': material.selected}"
        v-if="contenteditable"
        @click="selectMaterial(material)"
      />
      <Material
        :material="material"
        :handle-material-click="handleMaterialClick"
        :items-in-line="itemsInLine"
      />
    </li>
  </ul>
  <div class="not_found" v-else-if="!current_loading && has_no_result_suggestion">
    {{ $t('No-results-for') }} {{ this.didYouMean.original }}. {{ $t('Did-you-mean ') }}:
    <a :href="no_result_suggestion_link">{{ didYouMean.suggestion }}</a>?
  </div>
  <div class="not_found" v-else-if="!current_loading">
    {{ $t('Not-found') }}
  </div>
</section>
