@import './../../../assets/styles/variables';
.collection {
  &__info {
    padding: 0 55px 0;
    margin: 0 0 97px;
    position: relative;
    &_wrapper {
      display: flex;
      padding-top: 32px;
      position: relative;
      justify-content: space-between;

      .bread-crumbs {
        margin-bottom: 0;
      }
      &:before {
        content: '';
        min-width: 100%;
        position: absolute;
        background-color: rgba(244, 244, 244, 0.9);
        right: -36px;
        left: -36px;
        top: 0;
        bottom: -70px;
        border-radius: 20px;
        z-index: -1;
      }
    }
    &_logo {
      display: inline-block;
      vertical-align: top;
      width: 230px;
      height: 136px;
      background: #ffffff;
      border-radius: 10px;
    }
    &_title {
      display: inline-block;
      vertical-align: top;
      padding: 33px 0 43px 48px;
      background: url('./../../../assets/images/keurmerk.svg') 1px 70px
        no-repeat;
    }
    &_bg {
      position: absolute;
      right: 26px;
      top: -51px;
      width: 510px;
      border-radius: 21px;
      height: 298px;
    }
    &_ttl {
      padding: 0 0 8px;
      position: relative;
    }
    &_subttl {
      padding: 0 0 7px;
      font-size: 20px;
      line-height: 1.15;
      font-family: @main-font;
      position: relative;
    }
    &_all {
      text-decoration: none;
      font-weight: bold;
      margin-bottom: 11px;
      display: inline-block;
    }
    &_search {
      margin: 0 50px;
      .search__fields {
        margin-bottom: 33px;
      }
    }
    &_filter {
      width: 45%;
      display: flex;
      margin: 0 -10px 0 0;
      padding-top: 5px;
      align-items: center;
      justify-content: flex-end;
      &__link {
        font-weight: bold;
        padding-left: 30px;
        position: relative;
        font-size: 16px;
        font-family: @second-font;
      }
      &__edit {
        a {
          background: url('./../../../assets/images/edit.svg') no-repeat 0 50%;
          background-size: 30px;
        }
      }
      &__delete {
        margin-left: 32px;
        a {
          background: url('./../../../assets/images/trash.svg') no-repeat 0 50%;
          background-size: 30px;
        }
      }
      &__button {
        margin-left: 38px;
        a {
          padding: 13px 60px;
        }
      }
    }
  }
}
