<div
  class="material__list"
  v-if="materials && materials.records && materials.records.length"
>
  <div class="material__list_prev">
    <router-link
      class="material__list_prev_link"
      v-if="links.prev"
      :to="localePath({name: 'materials-id', params: {id: links.prev.external_id}})"
      @click.native="setMaterial(links.prev)"
    >
      {{ $t('Previous') }}
    </router-link>
  </div>
  <router-link
    class="material__list_all"
    :to="links.filter"
    v-if="links.filter"
  >
    {{ $t('back-to-search-results') }}
  </router-link>
  <div class="material__list_next">
    <router-link
      class="material__list_next_link"
      v-if="links.next"
      :to="localePath({name: 'materials-id', params: {id: links.next.external_id}})"
      @click.native="setMaterial(links.next)"
    >
      {{ $t('Next') }}
    </router-link>
  </div>
</div>
