
<section class="main-footer">
  <div class="center_block main-footer__top_block">
    <div class="main-footer__quotes">
      <div class="bg"></div>
      “The best collaborations create something bigger than the sum of what each person can create on their own.”
    </div>
    <div class="main-footer__info">
      <h3>Over SURF</h3>
      <div class="main-footer__info_text">SURF is the collaborative ICT organisation for Dutch education and research. SURF offers students, lecturers and scientists in the Netherlands access to the best possible internet and ICT facilities.</div>
      <a
        href="https://www.surf.nl/"
        target="_blank"
        class="main-footer__info_link arrow-link"
      >
        SURF.nl
      </a>
    </div>
    <div class="main-footer__links">
      <h3>Links</h3>
      <nav>
        <a
          @click.prevent="toggleSubMenuThemes"
          href="/themes/"
          class="main-footer__link arrow-link"
        >Onderwijs thema's</a>
        <nuxt-link to="/communities/" class="main-footer__link arrow-link">Community's</nuxt-link>
        <nuxt-link to="/how-does-it-work/" class="main-footer__link arrow-link">Hoe werkt het?</nuxt-link>
      </nav>
    </div>
  </div>
  <div class="main-footer__bottom_block">
    <div class="main-footer__logo">
      <nuxt-link to="/">
        <img
          src="./../../assets/images/surflogo.png"
          srcset="./../../assets/images/surflogo@2x.png 2x, ./../../assets/images/surflogo@3x.png 3x"
          class="main-footer__logo_img"
        >
      </nuxt-link>
    </div>
    <Menu />
  </div>
</section>

