
<section class="main-footer">
  <div class="center_block main-footer__top_block">
    <div class="main-footer__quotes">
      <div class="bg"></div>
      {{ $t('Footer-quote') }}
    </div>
    <div class="main-footer__info">
      <h3>{{ $t('Footer-info-title') }}</h3>
      <div class="main-footer__info_text">{{ $t('Footer-info-text') }}</div>
      <a
        href="https://www.surf.nl/"
        target="_blank"
        class="main-footer__info_link arrow-link"
      >
        SURF.nl
      </a>
    </div>
    <div class="main-footer__links">
      <h3>Links</h3>
      <nav>
        <a
          @click.prevent="toggleSubMenuThemes"
          href="/themes/"
          class="main-footer__link arrow-link"
        >{{ $t('Education-themes') }}</a>
        <nuxt-link
          :to="localePath('communities')"
          class="main-footer__link arrow-link"
        >
          {{ $t('Communities') }}
        </nuxt-link>
        <nuxt-link
          :to="localePath('how-does-it-work')"
          class="main-footer__link arrow-link"
        >
          {{ $t('How-does-it-work') }}
        </nuxt-link>
      </nav>
    </div>
  </div>
  <div class="main-footer__bottom_block">
    <div class="main-footer__logo">
      <nuxt-link :to="localePath('index')">
        <img
          src="/images/surflogo.png"
          srcset="/images/surflogo@2x.png 2x, /images/surflogo@3x.png 3x"
          class="main-footer__logo_img"
        >
      </nuxt-link>
    </div>
    <Menu />
  </div>
</section>

