
<section class="main-footer">
  <div class="center_block">
    <div class="main-footer__quotes">
      “The best collaborations create something bigger than the sum of what each person can create on their own.”
    </div>
    <div class="main-footer__info">
      <h3>Over SURF</h3>
      <div class="main-footer__info_text">SURF is the collaborative ICT organisation for Dutch education and research. SURF offers students, lecturers and scientists in the Netherlands access to the best possible internet and ICT facilities.</div>
      <nuxt-link
        to="SURF.nl"
        class="main-footer__info_link"
      >
        SURF.nl
      </nuxt-link>
    </div>
  </div>
  <div class="main-footer__links">
    <h3>Links</h3>
    <nav>
      <nuxt-link to="/">Onderwijs thema's</nuxt-link>
      <nuxt-link to="/communities/">Community's</nuxt-link>
      <nuxt-link to="/">Hoe werkt het?</nuxt-link>
    </nav>
  </div>
  <Menu />
</section>

