
<section class="menu">
  <nav class="menu__links">
    <a class="menu__link" href="https://www.surf.nl/privacy.html" target="_blank">SURF en jouw privacy</a>
    <a class="menu__link" href="https://www.surf.nl/copyright.html" target="_blank">Copyright</a>
    <a class="menu__link" href="https://www.surf.nl/cookies.html" target="_blank">Cookies</a>
    <a class="menu__link" href="https://www.surf.nl/disclaimer.html" target="_blank">Disclaimer</a>
    <!--<nuxt-link class="menu__link" to="/">Pers</nuxt-link>-->
  </nav>
</section>

