@import "./../../../assets/styles/variables";
.menu {
  text-align: right;

  &__link {
    font-family: @second-font;
    font-size: 16px;
    font-weight: bold;
    color: @dark-grey;
    margin: 0 0 0 53px;
  }
}
