<section class="popular-list">
  <slot name="header-info"></slot>
  <template v-if="computed_communities">
    <ul class="popular-list__items">
      <li
        class="popular-list__item blue-bar"
        v-for="community in computed_communities"
      >
        <router-link
          class="content"
          :to="localePath({name: 'communities-community', params: {community: community.id}})"
        >
          <h3>
            {{ getCommunityTitle(community) }}
            <i class="arrow"></i>
          </h3>
          <div>
            {{ $tc('Materials', community.materials_count) }}
          </div>
        </router-link>
      </li>
    </ul>
    <div class="popular-list--all" v-if="type !== 'material'">
      <router-link :to="localePath('communities')" class="arrow-link">
        {{ $t('All-Communities') }}
      </router-link>
    </div>
  </template>
  <div v-else>
    {{ $t('No-communities') }}
  </div>
</section>
