
<section class="filter-categories">
  <h3 class="filter-categories__title">Filteren</h3>
  <div class="filter-categories__links">
    <a
      href="#"
      v-if="isAuthenticated"
      class="filter-categories__save"
      @click.prevent="showPopupSaveFilter()"
    >
      Selectie opslaan
    </a>
    <a href="/materials/search/" @click="resetFilter" class="filter-categories__reset">Reset filters</a>
  </div>
  <div class="select filter-categories__select" v-if="filters && filters.length">
    <select
      name="my_filters"
      @change="onFilterSelected"
      v-model="active_filter.id"
    >
      <option :value="false" hidden>Mijn filter selecties</option>
      <option :value="filter.id" v-for="filter in filters">{{ filter.title }}</option>
    </select>
  </div>

  <ul v-if="categories" class="filter-categories__items">
    <li
      v-for="(category, index) in categories.results"
      class="filter-categories__item"
      v-if="!category.hide"
    >
      <h4
        @click="onToggleCategory(category.id)"
        class="filter-categories__item_title"
        :class="{'filter-categories__item_title--hide': category.selected}"
      >{{ category.title }}</h4>
      <ul v-if="category.selected"  class="filter-categories__subitems">
        <li
          v-for="(item, indexItem) in category.items"
          class="filter-categories__subitem"
          v-if="category.show_all || indexItem < visible_items"
        >
          <input
            type="checkbox"
            :id="item.external_id"
            :value="item.external_id"
            v-model="filter[index].items[indexItem]"
            @change="onChange"
          >
          <label :for="item.external_id">{{item.title}}</label>
        </li>
        <li v-if="category.items.length > visible_items" class="filter-categories__subitem--show-more">
          <a
            href="/show-more/"
            @click.prevent="onToggleShowAll(category.id)"
            v-if="category.show_all"
          >
            Hide
          </a>
          <a
            href="/show-more/"
            @click.prevent="onToggleShowAll(category.id)"
            v-else
          >
            Bekijk meer ({{ category.items.length - visible_items }})
          </a>
        </li>
      </ul>
    </li>
  </ul>
</section>

