name: Service CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.9]
    env:
      APPLICATION_CONTEXT: host
      APPLICATION_MODE: localhost
      POL_POSTGRES_HOST: localhost
      POL_ELASTIC_SEARCH_HOST: "localhost:9200"
      POL_DJANGO_HARVESTER_API: "http://localhost:8888/api/v1/"
      POL_ELASTIC_SEARCH_ENABLE_DECOMPOUND_ANALYZERS: 0

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: qwerty
          POSTGRES_DB: edushare
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Read .nvmrc
        run: echo "##[set-output name=NVMRC;]$(cat portal/.nvmrc)"
        id: nvm
      - name: Use Node.js ${{ steps.nvm.outputs.NVMRC }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ steps.nvm.outputs.NVMRC }}
      - name: psycopg2 prerequisites
        run: sudo apt-get install python3-dev libpq-dev gettext
      - name: Configure sysctl limits
        run: |
          sudo swapoff -a
          sudo sysctl -w vm.swappiness=1
          sudo sysctl -w fs.file-max=262144
          sudo sysctl -w vm.max_map_count=262144
      - name: Runs Elasticsearch
        uses: elastic/elastic-github-actions/elasticsearch@master
        with:
          stack-version: 7.9.3
      - name: Install Dependencies
        run: |
          pip install setuptools==58
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          cd portal
          npm install -g npx
          npm ci
          npx cypress cache list
          npx cypress verify
      - name: Setup data
        run: |
          invoke prepare-builds
          invoke srv.setup-postgres
          invoke hrv.setup-postgres
          invoke hrv.index-dataset-version localhost -d test
          cd harvester
          python manage.py runserver 8888 &
          cd ..
          cd service
          python manage.py runserver &
      - name: Run Tests
        run: |
          APPLICATION_PROJECT=edusources invoke test.run
          APPLICATION_PROJECT=nppo invoke test.run
